{% extends 'base.html.twig' %}

 {% block title %}Ajout d'un produit{% endblock %}


{% block body %}

<h1>Création d'un article</h1>

{{ form_start(formAddArticle) }}

{{ form_row(formAddArticle.title, {'attr': {'placeholder': 'Nom du Produit'}}) }}

{{ form_row(formAddArticle.content, {'attr': {'placeholder': 'Description du Produit'}}) }}

{{ form_row(formAddArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}

<button type="submit" class="btn btn-success"> Ajouter le produit </button>

{{ form_end(formAddArticle) }}

{% endblock %}