{% extends 'base.html.twig' %}

{% block title %}
  S'inscrire
{% endblock %}

{% block body %}
  <div class="no-access bg-primary dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 block-access">
          <a href="/">
            <img class="logo" src="{{ asset('img/logo.svg') }}" alt="logo" />
          </a>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2 button">
              <div>
                <i class="fas fa-edit"></i>
                <p>
                  <a href="{{ path('create-article') }}">Ecrire un article</a>
                </p>
              </div>
            </div>

            <div class="col-md-2 button">
              <div>
                <i class="fas fa-newspaper"></i> <br />
                <a href="{{ path('list-articles') }}">Modifier un article</a>
              </div>
            </div>

            <div class="col-md-2 button">
              <div>
                <i class="fas fa-pencil-ruler"></i>
                <a href="{{ path('drafts-articles') }}">Brouillons</a>
              </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
              <div class="col-md-2 button">
                <div>
                  <i class="fas fa-users"></i>
                  <a href="{{ path('sign-up') }}">Inscription</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-1 block-access"></div>
      </div>
    </div>
  </div>
{% endblock %}
