{% extends 'base.html.twig' %}

 {% block title %}Modifier un article{% endblock %}


{% block body %}

<h1>Modifier un article</h1>

<section class="modified-article">
{{ form_start(formAddArticle) }}

{{ form_row(formAddArticle.title, {'attr': {'placeholder': "Nom de l'article"}}) }}
{{ form_row(formAddArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}
<div class="textarea">
{{ form_row(formAddArticle.content, {'attr': {'placeholder': "Description de l'article"}}) }}
</div>

{{ form_row(formAddArticle.class, {'attr': {'placeholder': "Catégorie de l'article"}}) }}

<button type="submit" class="btn btn-success">Mettre à jour </button>

{{ form_end(formAddArticle) }}

</section>


{% endblock %}
