{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

  {% if app.user %}

   <h1>Inscription</h1>
    {{ form_start(formAddUser) }}

    {{ form_row(formAddUser.name, {'attr': {'placeholder': 'Votre nom'}}) }}

    {{ form_row(formAddUser.mdp, {'attr': {'placeholder': 'Choisir un mot de passe'}}) }}

    {{ form_row(formAddUser.email, {'attr': {'placeholder': 'Votre email'}}) }}

    <button type="submit" class="btn btn-success">
        S'inscrire</button>

    {{ form_end(formAddUser) }}

                        {% else %}
                        <div class="no-access bg-primary">
                        <p> <i class="fas fa-user-times"></i>  </p>
                        
                        <p>Seul l'administrateur peut accéder à cette page. <br> Si vous êtes l'administrateur, veuillez vous connecter en <a class="link" href="sign-in">cliquant ici</a> puis réessayer.</p>
                        <p>Sinon, vous pouvez vous dirigez vers la page d'accueil.</p>
                        <a class="btn btn-secondary" href="{{ path('home') }}">Retour à la page d'accueil</a>
                        </div>


                        {% endif %}


{% endblock %}